// Для импорта в диспетчер подключений: @import './src/blocks/pyramid/pyramid.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.pyramid {
  .container-position();
  background-color:  #272c34;

  &__circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    clip-path: circle(90px at 90px 90px);
    background-color: #fff;
    overflow: hidden;
    position: relative;
  }

  &__sky {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: #7ddffc;
  }

  &__ground {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 55px;
    background-color: #f0de75;
  }
}
