// Для импорта в диспетчер подключений: @import './src/blocks/round/round.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.round {
  .container-position();
  background-color: #e56262;
  
  &__inner {
    width: 220px;
    height: 220px;
    position: relative;
  }

  &__dot {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .3);
  }

  &__dot-1 {
    z-index: 3;
    width: 30px;
    height: 30px;
    top: 95px;
    left: 95px;
    animation: scale-1 2s cubic-bezier(.24,.9,.51,1) infinite alternate;
  }

  &__dot-2 {
    z-index: 2;
    width: 60px;
    height: 60px;
    top: 80px;
    left: 80px;
    animation: scale-2 2s cubic-bezier(.24,.9,.51,1) infinite alternate;
  }

  &__dot-3 {
    z-index: 1;
    width: 90px;
    height: 90px;
    top: 65px;
    left: 65px;
    animation: scale-3 2s cubic-bezier(.24,.9,.51,1) infinite alternate;
  }
}

@keyframes scale-1 {
  0%, 70% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scale-2 {
  0%, 40% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scale-3 {
  0%, 10% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

