// Для импорта в диспетчер подключений: @import './src/blocks/frame/frame.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.frame {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}
