// Для импорта в диспетчер подключений: @import './src/blocks/experiment/experiment.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.experiment {
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 0 50px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(2, 400px);

  @media (min-width: @screen-lg) {

  }

  &__inner {
    overflow: hidden;

    @media (min-width: @screen-sm) {

    }

    @media (min-width: @screen-md) {

    }
  }
}
